.login-container {
    padding-top: 45px;
  }


  .register-container{
    padding-top: 50px;
  }

  
  .landing-container{
    padding-top: 50px;
  }

  .incidente-register-container{
    padding-top: 50px;
  }

  .registro-incidente-container{
    padding-top: 50px;

  }

  .bitacora-listado-equipos-red{
    padding-top: 50px;
  }

  .bitacora-registro-equipos-red{
    padding-top: 50px;
  }