.login-container {
    padding-top: 45px;
  }


  .register-container{
    padding-top: 50px;
  }

  
  .landing-container{
    padding-top: 50px;
  }

  .incidente-register-container{
    padding-top: 50px;
  }

  .registro-incidente-container{
    padding-top: 50px;

  }

  .bitacora-listado-equipos-red{
    padding-top: 50px;
  }

  .bitacora-registro-equipos-red{
    padding-top: 50px;
  }

  .bitacora-registro-trabajo-fo{
    padding-top: 50px;
  }

  .bitacora-registro-trazado-fo{
    padding-top: 50px;
  }

  .bitacora-listado-trazado-fo{
    padding-top: 50px;
  }

  .bitacora-lista-trabajo-fo{
    padding-top: 50px;
  }


  .register-factura-container{
    padding-top: 60px;
  }

  .list-factura-container{
    padding-top: 60px;
  }

  .show-factura-container{
    padding-top: 60px;
  }

  .register-cobro-container{
    padding-top: 60px;
  }

  .list-cobro-container{
    padding-top: 60px;

  }



  
  .register_producto_container{
    padding-top: 60px;
  }

  .list-produtos-container{
    padding-top: 60px;
  }


  .list-cliente-container{
    padding-top: 60px;
  }



  .register-cliente-container{
    padding-top: 60px;
  }



